%h2 Make $$$ From Your Facilities
.min-height-one
  %p
    Register your facilities on FieldMonster.com, set the rules for
    how, when and for how much people will book time at your field.
    Then, sit back and watch the big bucks roll in!
  %br
%p
  = link_to "Make Money", new_manage_organization_path, {:class => 'btn'}