%h2 Register Your Team Now!
.min-height-one
  %p
    Seeker copy goes here. Seekr copy goes here. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Sed ante purus, molis a lacinia scelerisque, mollis ac est. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  %br
%p
  = link_to "Register Team", new_manage_organization_path, {:class => 'btn'}