= form_for @simpleSearch, :html => {:class => 'form-stacked', :id =>'simple-search'} do |f|
  %fieldset
    .clearfix
      = f.label :value, 'Zip Code'
      .input
        = f.text_field :value, :class => 'input-medium'
  .clearfix
    = f.submit "Search", :class => "btn align-right"