%section.container
  .span8.pull-right
    = gmaps4rails(@maps)
  - @locations.each do |location|
    %a{:href => location_path(location)}
      %span= location.name
      %span= location.description

= link_to 'Back', searches_path