footer {
  background-color: #222222;
  color: $grayLight;
  a {
    @extend .iblock;
    @extend .span2;
    color: $grayLight;
    
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

#container {
  margin-top: 5em;
}

a {
  color: $grayDark; 
}

footer, .min-height-one {
  height: 100px;
  min-height: 100px;
  height: auto;
}

.min-height-two {
  height: 200px;
  min-height: 200px;
  height: auto;
}

.min-height-three {
  height: 300px;
  min-height: 300px;
  height: auto;
}