.black {
  color: $black;
}

.grayDark {
  color: $grayDark
}

.grayLight {
  color: $grayLight;
}

.grayLighter {
  color: $grayLighter;
}

.white {
  color: $white;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.center {
  margin: 0 auto;
}

.iblock {
  display: inline-block;
}

.mbottom {
  margin-bottom: 10px;
}