%section.container
  %h2 Featured Fields
  .span-two-thirds.pull-left
    = gmaps4rails(@maps)
  .span-one-third.location-list.pull-right
    - @locations.each do |location|
      %div
        %strong= location.name
        <br>
        %span= location.description